{% extends 'base.html' %}

{% block content %}
Hello, {{ user.first_name|default:'Guest' }}!

{% if user.is_authenticated %}
<div>
    {% load crispy_forms_tags %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Update Profile</button>
    </form>
</div>
{% endif %}

<div>
    {% if user.is_authenticated %}

        <a class="btn btn-danger mt-3" href="{% url 'users:logout' %}" role="button">Logout</a>
        <a class="btn btn-primary mt-3" href="{% url 'users:password_change' %}" role="button">Change Password</a>
    {% else %}
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}